<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  </style>
  </head>


<div class="alert alert-info clearfix" >

    <button (click)="userReg('registration')" class="btn btn-info btn-sm float-right  mr-1">Registration</button>
    <button (click)="login('login')" class="btn btn-info btn-sm float-right  mr-1">Login</button>
    <button (click)="logout('login')" class="btn btn-info btn-sm float-right  mr-1">Logout</button>
    <button (click)="home('dash')" class="btn"><i class="fa fa-home"></i> Home</button>
  </div>
 
 <router-outlet></router-outlet>